{% extends 'base.html' %}

{% block content %}

<h1>Hoodie Store</h1>

  <marquee> Click Image to Create New Item </marquee>


<div class="row">
  <div class="column">
   <a href="/red">
   <img src="https://wallpaperstream.com/wallpapers/full/scary/Man-Wearing-Red-Hoodie-Scary-HD-Wallpaper.jpg" style="width:24.5%"height="90%"/>
     </a>
    <a href="/blue">
    <img src="https://wallpapersite.com/images/pages/pic_h/17658.jpg" style="width:24.5%"height="90%"/>
      </a>
    <a href="/color">
    <img src="http://hdqwalls.com/wallpapers/neon-mask-hoodie-4k-ma.jpg" style="width:24.5%"height="90%"/>
      </a>
      <a href="/white">
    <img src="https://images.pexels.com/photos/1482476/pexels-photo-1482476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width:24.5%"height="90%"/>
      </a>
  </div>
<ul>
{% for hoodie in hoodies%}

    <li>
      <a href="/hoodie/{{hoodie._id}}">{{hoodie.name}}</a>
    </li>

{% endfor %}
</ul>

{% endblock %}
