
{% extends 'base.html' %}
{% block content %}

{% set total = 0 %}


<h1>Shopping Cart</h1>
<div>

    {% for item in shopping_cart %}
    {% set total = total + 1 %}
    <div>
        <img src='{{item.image_url}}' height = 100px width = 100px>
        <h1>{{ item.name }}</h1>
        <h3>${{ item.price }} /yd</h3>
        <small>{{ item.source }}</small>

        <p><form method='POST' action='/shopping_cart/{{ item._id }}/remove'>
                <button class='btn btn-primary' type='submit'>Remove</button>
            </form></p>


    </div>
    {% endfor %}
    <br>
    <p>Total Price: ${{ total }}</p>


</div>
{% endblock %}
